In [2]:
import pandas as pd
import sqlite3
import math 
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from IPython.core.display import display, HTML

In [23]:
import sqlite3

conn = sqlite3.connect('datasets_435_896_sales_data_sample.db')

In [24]:
c = conn.cursor()

In [6]:
import numpy as np
import cv2
img = cv2.imread ( 'DATA.jpg',0  )
img = cv2.imread ( 'DATA.png',0  )
img = cv2.imread ( 'DATA.png',0  )
cv2.imshow ( 'DATA' , img )
k = cv2.waitKey (0) & 0xFF
if k == 27 :
    cv2.destroyAllWindows ()
elif k == ord ( 's' ): 
    cv2.imwrite ( 'contohgray.png' , img )
    cv2.destroyAllWindows ()

In [4]:
import numpy as np
import cv2
img = cv2.imread ( 'design.jpg',0  )
img = cv2.imread ( 'design.png',0  )
img = cv2.imread ( 'design.png',0  )
cv2.imshow ( 'DATA' , img )
k = cv2.waitKey (0) & 0xFF
if k == 27 :
    cv2.destroyAllWindows ()
elif k == ord ( 's' ): 
    cv2.imwrite ( 'contohgray.png' , img )
    cv2.destroyAllWindows ()

In [12]:
import pandas as pd

df = pd.DataFrame({
    
            'CUSTOMERNAME':['Land of Toys Inc,Reims Collectables','Lyon Souveniers','Toys4GrownUps.com','Corporate Gift Ideas Co','Technics Stores Inc.'],
            'PRODUCTLINE' :['Motorcycles','Motorcycles','Motorcycles','Motorcycles','Motorcycles'],
            'ADDRESSLINE1':[' Long Airport Avenue','rue de l','Abbaye','rue du Colonel Pierre Avia','Hillside Dr'],
            'PHONE':['2125557818','26.47.1555','33 1 46 62 7555','6265557265','6505551386'],
            
    })
df

,ADDRESSLINE1,CUSTOMERNAME,PHONE,PRODUCTLINE
0,Long Airport Avenue,"Land of Toys Inc,Reims Collectables",2125557818,Motorcycles
1,rue de l,Lyon Souveniers,26.47.1555,Motorcycles
2,Abbaye,Toys4GrownUps.com,33 1 46 62 7555,Motorcycles
3,rue du Colonel Pierre Avia,Corporate Gift Ideas Co,6265557265,Motorcycles
4,Hillside Dr,Technics Stores Inc.,6505551386,Motorcycles

In [24]:
import csv

datasets_435_896_sales_data_sample = [ 
    ( 1, '10107', "30", "95.7", "2", "2871", "2/24/2003 0:00", "Shipped", "1", "2", "2003", "Motorcycles", "95", "S10_1678", "Land of Toys Inc.", "2125557818", "897 Long Airport Avenue", "-", "NYC", "NY", "10022", "USA", "NA", "Yu", "Kwai", "Small"),
    ( 2, '10121', "34", "81.35", "5", "2765.9", "05/07/2003 00:00", "Shipped", "2", "5", "2003", "Motorcycles", "95", "S10_1678", "Reims Collectables", "26.47.1555", "59 rue de l'Abbaye", "-", "Reims", "-", "51100", "France", "EMEA", "Henriot", "Paul", "Small"),
    ( 3, '10134', "41","94.74", "2", "3884.34", "07/01/2003 00:00", "Shipped", "3", "7", "2003", "Motorcycles", "95", "S10_1678", "Lyon Souveniers", "+33 1 46 62 7555", "27 rue du Colonel Pierre Avia", "-", "Paris", "-", "75508","France","EMEA","Da Cunha","Daniel","Medium"),
    ( 4, '10145', "45", "83.26", "6", "3746.7", "8/25/2003 0:00", "Shipped", "3", "8", "2003", "Motorcycles", "95", "S10_1678", "Toys4GrownUps.com", "6265557265", "78934 Hillside Dr.", "-", "Pasadena", "CA","90003","USA","NA","Young","Julie","Medium"),
    ( 5, '10159', "49", "100", "14", "5205.27", "10/10/2003 00:00", "Shipped", "4", "10","2003", "Motorcycles", "95", "S10_1678", "Corporate Gift Ideas Co.", "6505551386", "7734 Strong St.","-", "San Francisco", "CA", "-", "USA","NA","Brown","Julie","Medium"),
    ( 6, '10168', "36", "96.66", "1", "3479.76", "10/28/2003 0:00", "Shipped", "4","10", "2003", "Motorcycles", "95", "S10_1678", "Technics Stores Inc.", "6505556809", "9408 Furth Circle", "-", "Burlingame", "CA", "94217", "USA", "NA", "Hirano", "Juri", "Medium"),
    ( 7, '10180', "29", "86.13", "9", "2497.77", "11/11/2003 00:00", "Shipped",	"4", "11", "2003", "Motorcycles", "95", "S10_1678", "Daedalus Designs Imports", "20.16.1555", "184 chausse de Tournai", "-", "Lille", "-", "59000", "France", "EMEA", "Rance", "Martine", "Small"),
    ( 8, '10188', "48", "100", "1", "5512.32", "11/18/2003 0:00", "Shipped", "4", "11", "2003", "Motorcycles", "95", "S10_1678", "Herkku Gifts", "+47 22673215", "Drammen 121 PR 744 Sentrum", "-", "Bergen", "-", "N5804", "Norway", "EMEA", "Oeztan", "Veysel", "Medium"),
    ( 9 ,'10201', "22", "98.57", "2", "2168.54", "12/01/2003 00:00", "Shipped", "4", "12", "2003", "Motorcycles", "95", "S10_1678", "Mini Wheels Co.", "6505555787", "5557 North Pendale Street", "-", "San Francisco", "CA", "-", "USA","NA", "Murphy", "Julie", "Small"),
    ( 10,'10211', "41", "100", "14", "4708.44", "1/15/2004 0:00", "Shipped 1", "1", "2004", "Motorcycles", "95", "S10_1678", "Auto Canal Petit", "(1) 47.55.6555", "25 rue Lauriston", "-", "Paris", "-", "75016", "France", "EMEA", "Perrier", "Dominique", "Small"),
]

f = open('datasets_435_896_sales_data_sample.csv', 'w')
w = csv.writer(f)
w.writerow(('No', 'ORDERNUMBER','QUANTITYORDERED','PRICEEACH','ORDERLINENUMBER','SALES', 'ORDERDATE', 'STATUS','QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY' , 'TERRITORY', 'CONTACTLASTNAME','CONTACTFIRSTNAME', 'DEALSIZE'))

for s in datasets_435_896_sales_data_sample:
    w.writerow(s)

f.close()

In [25]:
import pandas as pd

f = pd.read_csv("datasets_435_896_sales_data_sample.csv")
f

,No,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,1,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,...,897 Long Airport Avenue,-,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,2,10121,34,81.35,5,2765.90,05/07/2003 00:00,Shipped,2,5,...,59 rue de l'Abbaye,-,Reims,-,51100,France,EMEA,Henriot,Paul,Small
2,3,10134,41,94.74,2,3884.34,07/01/2003 00:00,Shipped,3,7,...,27 rue du Colonel Pierre Avia,-,Paris,-,75508,France,EMEA,Da Cunha,Daniel,Medium
3,4,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,...,78934 Hillside Dr.,-,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,5,10159,49,100.00,14,5205.27,10/10/2003 00:00,Shipped,4,10,...,7734 Strong St.,-,San Francisco,CA,-,USA,NaN,Brown,Julie,Medium
5,6,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,...,9408 Furth Circle,-,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
6,7,10180,29,86.13,9,2497.77,11/11/2003 00:00,Shipped,4,11,...,184 chausse de Tournai,-,Lille,-,59000,France,EMEA,Rance,Martine,Small
7,8,10188,48,100.00,1,5512.32,11/18/2003 0:00,Shipped,4,11,...,Drammen 121 PR 744 Sentrum,-,Bergen,-,N5804,Norway,EMEA,Oeztan,Veysel,Medium
8,9,10201,22,98.57,2,2168.54,12/01/2003 00:00,Shipped,4,12,...,5557 North Pendale Street,-,San Francisco,CA,-,USA,NaN,Murphy,Julie,Small
9,10,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped 1,1,2004,...,-,Paris,-,75016,France,EMEA,Perrier,Dominique,Small,NaN

In [26]:
import pandas as pd
#importing the dataset
datasets_435_896_sales_data_sample = pd.read_csv('datasets_435_896_sales_data_sample.csv')
datasets_435_896_sales_data_sample

,No,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,1,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,...,897 Long Airport Avenue,-,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,2,10121,34,81.35,5,2765.90,05/07/2003 00:00,Shipped,2,5,...,59 rue de l'Abbaye,-,Reims,-,51100,France,EMEA,Henriot,Paul,Small
2,3,10134,41,94.74,2,3884.34,07/01/2003 00:00,Shipped,3,7,...,27 rue du Colonel Pierre Avia,-,Paris,-,75508,France,EMEA,Da Cunha,Daniel,Medium
3,4,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,...,78934 Hillside Dr.,-,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,5,10159,49,100.00,14,5205.27,10/10/2003 00:00,Shipped,4,10,...,7734 Strong St.,-,San Francisco,CA,-,USA,NaN,Brown,Julie,Medium
5,6,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shipped,4,10,...,9408 Furth Circle,-,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
6,7,10180,29,86.13,9,2497.77,11/11/2003 00:00,Shipped,4,11,...,184 chausse de Tournai,-,Lille,-,59000,France,EMEA,Rance,Martine,Small
7,8,10188,48,100.00,1,5512.32,11/18/2003 0:00,Shipped,4,11,...,Drammen 121 PR 744 Sentrum,-,Bergen,-,N5804,Norway,EMEA,Oeztan,Veysel,Medium
8,9,10201,22,98.57,2,2168.54,12/01/2003 00:00,Shipped,4,12,...,5557 North Pendale Street,-,San Francisco,CA,-,USA,NaN,Murphy,Julie,Small
9,10,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped 1,1,2004,...,-,Paris,-,75016,France,EMEA,Perrier,Dominique,Small,NaN

In [29]:
#displaying the dataset
datasets_435_896_sales_data_sample.head(5)

,No,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,1,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,...,897 Long Airport Avenue,-,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,2,10121,34,81.35,5,2765.90,05/07/2003 00:00,Shipped,2,5,...,59 rue de l'Abbaye,-,Reims,-,51100,France,EMEA,Henriot,Paul,Small
2,3,10134,41,94.74,2,3884.34,07/01/2003 00:00,Shipped,3,7,...,27 rue du Colonel Pierre Avia,-,Paris,-,75508,France,EMEA,Da Cunha,Daniel,Medium
3,4,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,...,78934 Hillside Dr.,-,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,5,10159,49,100.00,14,5205.27,10/10/2003 00:00,Shipped,4,10,...,7734 Strong St.,-,San Francisco,CA,-,USA,NaN,Brown,Julie,Medium

In [30]:
import pandas as pd
datasets_435_896_sales_data_sample.dtypes

No                    int64
ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID              object
PRODUCTLINE          object
MSRP                 object
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object